<div fxLayout="row" fxLayoutAlign="center center" class="avatar-container">
  <img [src]="noAvatarUrl" alt="Нет фото" class="avatar-image" *ngIf="!userAvatar">

  <img [src]="userAvatar" id="avatar-image" alt="" class="avatar-image" *ngIf="userAvatar" (click)="openImageViewerDialog()">

  <div fxLayout="row" fxLayoutAlign="flex-end flex-end" class="avatar-button">
    <ng-container>
      <button mat-mini-fab type="button" color="primary" (click)="avatarInput.click();">
        <mat-icon>camera_alt</mat-icon>
      </button>
      <input type="file" (change)="openAvatarEditorDialog($event)" #avatarInput style="display: none;"/>
    </ng-container>
  </div>
</div>
