.menu-row {
  height: 24px;
  display: none !important;

  .menu-button {
    padding: 1px 8px;
    border-radius: 8px;
    background-color: #9575cd;
    cursor: pointer;

    &.current {
      background-color: #51c9cd;
    }
  }

  @media screen and (max-width: 1000px) {
    display: flex !important;
  }
}
