<div fxLayout="column" class="profile-container">
  <div fxLayout="row" fxLayoutAlign="center center" class="profile-label">
    <p>Профиль пользователя</p>
  </div>
  <profile-avatar></profile-avatar>

  <div class="profile-card-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
    <form role="form" [formGroup]="profileForm" fxLayout="column" fxLayoutGap="4px" class="profile-form">
      <div fxLayout="row" fxLayoutGap="16px" class="profile-row">
        <mat-form-field appearance="outline" floatLabel="always" class="profile-field">
          <mat-label>Логин</mat-label>
          <input matInput placeholder="Введите логин" formControlName="username" required>
          <mat-error *ngIf="getControl('username').invalid">{{getValidationMessage(getControl('username'))}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="profile-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Введите email" formControlName="email" type="email" required>
          <mat-error *ngIf="getControl('email').invalid">{{getValidationMessage(getControl('email'))}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="16px" class="profile-row">
        <mat-form-field appearance="outline" floatLabel="always" class="profile-field">
          <mat-label>Имя</mat-label>
          <input matInput placeholder="Введите имя" formControlName="firstName">
          <mat-error *ngIf="getControl('firstName').invalid">{{getValidationMessage(getControl('firstName'))}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="profile-field">
          <mat-label>Фамилия</mat-label>
          <input matInput placeholder="Введите фамилию" formControlName="lastName">
          <mat-error *ngIf="getControl('lastName').invalid">{{getValidationMessage(getControl('lastName'))}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="16px" class="profile-row">
        <mat-form-field appearance="outline" floatLabel="always" class="profile-field">
          <mat-label>Отчество</mat-label>
          <input matInput placeholder="Введите отчество" formControlName="middleName">
          <mat-error *ngIf="getControl('middleName').invalid">{{getValidationMessage(getControl('middleName'))}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="profile-field">
          <mat-label>Дата рождения</mat-label>
          <input matInput placeholder="Выберите дату" formControlName="birthday" [matDatepicker]="birthdayDatepicker">
          <mat-datepicker-toggle matSuffix [for]="birthdayDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #birthdayDatepicker></mat-datepicker>
          <mat-error *ngIf="getControl('birthday').invalid">{{getValidationMessage(getControl('birthday'))}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="16px" class="profile-row">
        <mat-form-field appearance="outline" floatLabel="always" class="profile-field">
          <mat-label>Мобильный телефон</mat-label>
          <input matInput placeholder="Введите мобильный телефон" formControlName="mobile" phoneMask>
          <mat-error *ngIf="getControl('mobile').invalid">{{getValidationMessage(getControl('mobile'))}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="profile-field">
          <mat-label>Рабочий телефон</mat-label>
          <input matInput placeholder="Введите рабочий телефон" formControlName="phone">
          <mat-error *ngIf="getControl('phone').invalid">{{getValidationMessage(getControl('phone'))}}</mat-error>
        </mat-form-field>
      </div>
    </form>

    <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="8px">
      <button mat-button color="primary" type="button" (click)="cancelEdit()">
        Отмена
      </button>
      <button mat-raised-button color="accent" type="button" (click)="openChangePasswordDialog()">
        Новый пароль
      </button>
      <button mat-raised-button color="primary" type="button" (click)="saveProfile()">
        Сохранить
      </button>
    </div>
  </div>
</div>
