<mat-card class="common-theme activity-card">
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>
    <form role="form" [formGroup]="activityForm" fxLayout="column" fxLayoutGap="8px" class="activity-form">
      <div fxLayout="row" fxLayoutGap="8px">
        <mat-form-field appearance="outline" floatLabel="always" class="date-field">
          <mat-label>Дата</mat-label>
          <input matInput [matDatepicker]="activityDatePicker" formControlName="activityDate" required>
          <mat-datepicker-toggle matSuffix [for]="activityDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #activityDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="time-field">
          <mat-label>С</mat-label>
          <input matInput formControlName="start" required>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="time-field">
          <mat-label>По</mat-label>
          <input matInput formControlName="end" required>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Описание</mat-label>
        <textarea matInput matTextareaAutosize matAutosizeMaxRows="5" matAutosizeMinRows="1"
                  formControlName="description" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Проект</mat-label>
        <mat-select formControlName="project"></mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Направление</mat-label>
        <mat-select formControlName="direction"></mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Вид работы</mat-label>
        <mat-select formControlName="type"></mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>В рамках задачи</mat-label>
        <mat-select formControlName="task"></mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="8px">
    <button mat-button color="primary" type="button" mat-dialog-close>Отмена</button>
    <button mat-raised-button color="primary" type="button">Сохранить</button>
  </mat-card-actions>
</mat-card>
