.content-container {
  height: calc(100vh - 64px);
  overflow: hidden;
  margin-top: 64px;

  &.with-sidebar{
    margin-left: 160px;
    margin-right: 160px;
  }

  @media screen and (max-width: 600px) {
    height: calc(100vh - 56px);
    margin-top: 56px;

    &.with-sidebar{
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 1000px) {
    &.with-sidebar{
      margin-left: 100px;
      margin-right: 100px;
    }
  }
}

.without-sidebar-header {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
