.content-container {
  height: calc(100vh - 64px);
  overflow: hidden;
  margin-top: 64px;

  &.with-sidebar{
    margin-left: 60px;
  }
}

.without-sidebar-header {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
