<ng-container *ngIf="isWithoutSidebarHeaderState">
  <div class="without-sidebar-header common-theme">
    <router-outlet></router-outlet>
  </div>
</ng-container>

<ng-container *ngIf="!isWithoutSidebarHeaderState">
  <app-header></app-header>
  <app-sidebar *ngIf="!isWithoutSidebarState"></app-sidebar>
  <div [ngClass]="{
  'content-container': true,
  'with-sidebar': !isWithoutSidebarState,
  'without-sidebar': isWithoutSidebarState,
  'common-theme': true
  }">
    <router-outlet></router-outlet>
  </div>
</ng-container>
