.calendar-row {
  font-size: 1.5em;
  padding-top: 8px;
  text-transform: uppercase;
  color: #002430;

  span {
    background: #00adde36;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding: 0 8px;
  }

  .display-none {
    left: calc(50vw - 148px);
    position: fixed;
    display: block;
    border: none;
    top: 96px;
    height: 0;
    width: 0;
  }
}

@media screen and (max-width: 1000px)  {
  .calendar-row {
    font-size: 1.1em;
    padding-top: 0;

    .display-none {
      top: 72px;
    }
  }
}
