<div fxLayout="row" class="activity-container" [scrollTop]="calculateScrollTop">
  <div fxFlex="64px">
    <div fxLayout="column">
      <div fxLayoutAlign="flex-start center" *ngFor="let hour of hourArray" class="hour-row">
        {{ hour }}
      </div>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayoutAlign="flex-start center">
      <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let activity of activities" class="activity-row"
           matTooltip="{{activity.start }} - {{ activity.end}}"
           [ngStyle]="{
           'height': activity.height,
           'margin-bottom': activity.marginBottom,
           'margin-top': activity.marginTop,
           'background-color': activity.backgroundColor
           }">
        {{ activity.description }}
      </div>
    </div>
  </div>
</div>
