<div fxLayout="row" class="activity-container" [scrollTop]="scrollTop">
  <div fxFlex="64px">
    <div fxLayout="column">
      <div fxLayoutAlign="flex-start center" *ngFor="let hour of hourArray" class="hour-row" (click)="addActivity(hour)">
        {{ hour }}
      </div>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayoutAlign="flex-start center">
      <div fxLayout="column" fxLayoutAlign="center center" *ngFor="let activity of activities" class="activity-row"
           [ngStyle]="{
           'height': activity.height,
           'margin-bottom': activity.marginBottom,
           'margin-top': activity.marginTop,
           'background-color': activity.backgroundColor
           }">
        <span fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center" class="activity-header">
          <span>{{ activity.start }} - {{activity.end}}</span>
          <span class="label">Проект:</span>
          <span>{{ activity.project }}</span>
          <span class="label">Задача:</span>
          <span>{{ activity.task }}</span>
          <span class="label">Вид работы:</span>
          <span>{{ activity.type }}</span>
        </span>
        <div class="activity-description">{{ activity.description }}</div>
      </div>
    </div>
  </div>
</div>
