.activity-container {
  overflow: hidden;
  padding: 8px;

  .activity-header {
    margin-right: 12px;
    margin-left: 30px;

    .header-cell {
      background-color: #c8c8c8;
      border-left: 1px solid #e4e4e4;
      width: calc((100% - 7px) / 7);
      font-size: 1.2em;
      font-weight: 500;
      height: 28px;
    }
  }

  .activity-table {
    height: calc(100vh - 152px);
    overflow: hidden;

    .week-row {
      border-bottom: 1px solid #e4e4e4;
      width: calc(100vw - 148px);
      margin-right: 12px;
      color: #002430;
      z-index: 1;

      &.desktop {
        display: flex !important;
      }

      &.mobile {
        display: none !important;
      }

      .week-cell {
        background-color: #f0f0f0;
        cursor: default;
        width: 30px;

        &.day {
          background-color: transparent;
          width: calc((100% - 37px) / 7);
          border-left: 1px solid #e4e4e4;
          cursor: pointer;

          .day-label {
            background-color: #ebebeb;
            border-radius: 50%;
            padding: 4px;
            font-size: 1.1em;
          }
        }
      }
    }

    .activity-column {
      width: calc(100% / 7);
      margin-top: 8px;

      .activity-row {
        border: 1px solid white;
        border-radius: 8px;
        cursor: pointer;
        z-index: 2;

        div {
          word-break: break-all;
          text-align: center;
          max-height: 100%;
          overflow: auto;
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .activity-header {
      margin-right: 0;

      .header-cell {
        background-color: #c8c8c8;
        border-left: 1px solid #e4e4e4;
        width: calc(100% / 7);
        font-size: 1.2em;
        font-weight: 500;
        height: 28px;
      }
    }

    .activity-table {
      height: calc(100vh - 158px);

      .week-row {
        width: calc(100vw - 16px);
        margin-right: 0;

        &.desktop {
          display: none !important;
        }

        &.mobile {
          display: flex !important;
        }

        .week-cell.day {
          width: calc((100% - 7px) / 7);
        }
      }
    }
  }
}

