<div class="activity-container" *ngIf="true">
  <div class="activity-header" fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center center" *ngFor="let week of weekLabels" class="header-cell">
      <span>{{week.label}}</span>
    </div>
  </div>
  <div fxLayout="row" class="activity-table">
    <div fxFlex="30px">
      <div fxLayout="column" fxFlex>
        <div fxLayout="row" *ngFor="let week of weekList" class="week-row" [ngStyle]="{'height': weekRowLength}">
          <div fxLayoutAlign="center center" class="week-cell">{{ week.label }}</div>
          <div fxLayoutAlign="center flex-start" class="week-cell day" *ngFor="let day of week.days"
               (click)="addActivity(day)">
            <span class="day-label">{{day | dateFormat: dayFormat}}</span>
          </div>
        </div>
      </div>
    </div>
<!--    <div fxFlex>-->
<!--      <div fxLayout="row">-->
<!--        <div fxLayout="column" class="activity-column" *ngFor="let day of weekActivities">-->
<!--          <div fxLayout="column" fxLayoutAlign="center center" class="activity-row" (click)="openViewDialog(activity)"-->
<!--               *ngFor="let activity of day.activities"-->
<!--               [ngStyle]="{-->
<!--               'height': activity.height,-->
<!--               'margin-bottom': activity.marginBottom,-->
<!--               'margin-top': activity.marginTop,-->
<!--               'background-color': activity.backgroundColor-->
<!--                }">-->
<!--            <div>{{activity.description}}</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>

<div fxLayout="row" class="activity-container" fxLayoutAlign="center center" *ngIf="false">
  <mat-spinner color="primary" [diameter]="80" [strokeWidth]="2"></mat-spinner>
</div>

