.header-toolbar {
  position: fixed;
  color: white;
  top: 0;

  .phone-menu-button {
    display: none !important;
  }

  .toolbar-button, .toolbar-icon-button {
    text-transform: uppercase;
    height: 64px;
    padding: 0 8px 0 8px;
    cursor: pointer;
    opacity: 0.7;

    &.current, &:hover {
      opacity: 1;
    }

    &.current {
      border-bottom: 2px solid white;
    }
  }

  .header-login, .toolbar-button, .toolbar-icon-button {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
  }

  .header-login {
    cursor: default;
    padding-right: 16px;
  }

  @media screen and (max-width: 600px) {
    .toolbar-button {
      display: none !important;
    }

    .phone-menu-button {
      display: flex !important;
      height: 64px;
    }
  }
}
