.reports-container {
  height: calc(100vh - 124px);
  overflow: hidden;
  padding: 8px 0;

  .reports-accordion {
    overflow: auto;
    padding: 8px;
    width: 80%;

    .mat-expansion-panel-header {
      font-size: 1.1em;
    }
  }

  @media screen and (max-width: 600px){
    height: calc(100% - 8px);
    padding: 4px 0;

    .reports-accordion {
      height: calc(100vh - 96px);
      width: calc(100% - 16px);
    }
  }
}


