<div fxLayout="column" fxLayoutGap="4px" class="component-container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="calendar-row">
    <button mat-icon-button color="primary" type="button" (click)="changeWeek(null, -1)">
      <mat-icon class="head-button-icon">chevron_left</mat-icon>
    </button>

    <ng-container>
      <span (click)="currentDatepicker.open()">{{ monday | dateFormat: weekFormat}} - {{ sunday | dateFormat: weekFormat}}</span>
      <input matInput [matDatepicker]="currentDatepicker" class="display-none" (dateChange)="changeWeek($event)">
      <mat-datepicker #currentDatepicker class="display-none"></mat-datepicker>
    </ng-container>

    <button mat-icon-button color="primary" type="button" (click)="changeWeek(null, 1)">
      <mat-icon class="head-button-icon">chevron_right</mat-icon>
    </button>
  </div>

  <activity-header (checkTodayEvent)="changeWeek($event)"></activity-header>
  <week-activity-card [weekDayArray]="weekArray" [timeArray]="timeArray"
                      [weekActivities]="weekActivities$ | async"></week-activity-card>
</div>

<activity-menu [currentDate]="currentDate"></activity-menu>
