.report-container {
  flex-wrap: nowrap;

  .description-container {
    font-size: 1.2em;
  }

  .date-container, .description-container {
    margin-right: 8px;
  }

  @media screen and (max-width: 1000px){
    flex-wrap: wrap;
    .description-container, .button-container, .date-container {
      min-width: 100% !important;
    }

    .description-container, .date-container {
      margin-right: 0;
      margin-bottom: 8px;
    }

    .button-container, .date-container {
      align-content: center;
      justify-content: flex-end;
    }
  }
}
