.activity-card {
  overflow: hidden;
  min-width: min-content;
  max-width: 700px;

  .activity-content {
    max-height: 80vh;
    padding: 0 12px 12px;

    span {
      font-size: 1.25em;
    }

    .label {
      font-weight: 500;
    }
  }

  @media screen and (max-width: 800px) {
    width: calc(95vw - 24px) !important;
  }
}
