<div class="activity-container" *ngIf="true">
  <div class="activity-header" fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center center" *ngFor="let week of weekArray" class="header-cell">
      <span class="header-cell-date">{{week.date | dateFormat: weekFormat}}</span>
      <span class="header-cell-date-mobile">{{week.date | dateFormat: weekFormatMobile}}</span>
      <span>{{week.label}}</span>
    </div>
  </div>
  <div fxLayout="row" class="activity-table" [scrollTop]="scrollTop">
    <div class="hour-column">
      <div fxLayout="column">
        <div fxLayout="row" *ngFor="let hour of hourArray" class="hour-row desktop">
          <div fxLayoutAlign="center center" class="hour-cell">{{ hour }}</div>
          <div class="hour-cell week" *ngFor="let week of weekArray" (click)="addActivity(hour, week.date)"></div>
        </div>

        <div fxLayout="row" *ngFor="let hour of hourArrayMobile" class="hour-row mobile">
          <div fxLayoutAlign="center center" class="hour-cell">{{ hour }}</div>
          <div class="hour-cell week" *ngFor="let week of weekArray" (click)="addActivity(hour, week.date)"></div>
        </div>
      </div>
    </div>
    <div fxFlex>
      <div fxLayout="row">
        <div fxLayout="column" class="activity-column" *ngFor="let day of weekActivities">
          <div fxLayout="column" fxLayoutAlign="center center" class="activity-row"
               *ngFor="let activity of day.activities"
               [ngStyle]="{
           'height': activity.height,
           'margin-bottom': activity.marginBottom,
           'margin-top': activity.marginTop,
           'background-color': activity.backgroundColor
           }">
            {{activity.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" class="activity-container" fxLayoutAlign="center center" *ngIf="false">
  <mat-spinner color="primary" [diameter]="80" [strokeWidth]="2"></mat-spinner>
</div>

