.common-theme {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0, 159, 208, 0.31);
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    @media screen and (min-width: 1000px) {
      margin: 0 !important;
    }
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    color: #333333;
    font-size: 18px;
    padding: 0.46em 0 0.46em 0 !important;
  }

  .mat-form-field-label-wrapper {
    font-size: 20px !important;
    top: -0.94375em !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-label {
    color: #006a88 !important;
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 0.35em;
  }

  @media screen and (max-width: 600px) {

    .mat-form-field-appearance-outline .mat-form-field-infix {
      font-size: 1em;
      padding-bottom: 0.46em !important;
    }

    .mat-form-field-label-wrapper {
      font-size: 1.3em !important;
    }
  }
}

.login-field {
  .mat-form-field-label {
    color: #ffffff !important;
    font-size: 18px !important;
  }

  .mat-form-field-underline {
    background: #ffffff !important;
  }

  .mat-input-element {
    caret-color: #ffffff;
    color: #ffffff;
    font-size: 18px !important;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 1px 4px 0 transparent, /* Внутренняя тень */
    inset 0 0 0 50px #00adde, /* Цвет фона */
    0 1px transparent !important; /* Наружная тень */
    -webkit-text-fill-color: #ffffff !important;
  }
}

.white-button {
  color: #00adde;
  background-color: white;
}

.custom-snack-bar, .custom-snack-bar-warning {
  margin: 12px !important;
  max-width: 85vw !important;
  min-width: 0 !important;
  color: white;

  span {
    cursor: default;
    font-size: 18px;
  }

  .mat-simple-snackbar {
    justify-content: center;
  }

  .mat-simple-snackbar-action {
    color: white;
    margin: -8px;

    .mat-button {
      font-weight: 400 !important;
    }
  }
}
.custom-snack-bar {
  background-color: rgba(0, 65, 89, 0.81);
}

.custom-snack-bar-warning {
  background-color: #ca271bd1;
}

.custom-tooltip {
  font-size: 14px;
  max-width: 50vw !important;
  word-wrap: break-word !important;
}
