<mat-card class="common-theme direction-container">
  <mat-card-title>Направление. {{ title }}</mat-card-title>
  <mat-card-content>
    <form role="form" [formGroup]="directionForm" fxLayout="column">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Наименование</mat-label>
        <input matInput formControlName="name" placeholder="Введите наименование направления" required>
        <mat-error>
          <validation-error [control]="name"></validation-error>
        </mat-error>
      </mat-form-field>

      <dictionary-select (searchChange)="getProjects($event)" [dictionary]="projects$ | async" [control]="project"
                         label="проект" api="project" field="name" param="id"></dictionary-select>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="8px">
    <button mat-button color="primary" type="button" mat-dialog-close>Отмена</button>
    <button mat-raised-button color="primary" type="button" [disabled]="directionForm.invalid" (click)="saveProject()">
      Сохранить
    </button>
  </mat-card-actions>
</mat-card>
