<mat-card class="common-theme">
  <mat-card-title>Изменение пароля</mat-card-title>
  <mat-card-content>
    <form role="form" [formGroup]="changePasswordForm" fxLayout="column" fxLayoutGap="8px">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Старый пароль</mat-label>
        <input matInput formControlName="oldPassword" required
               [type]="oldPasswordHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="oldPasswordHide = !oldPasswordHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPasswordHide">
          <mat-icon>{{oldPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="oldPassword.invalid">{{ getValidationMessage(oldPassword)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Новый пароль</mat-label>
        <input matInput formControlName="newPassword" required
               [type]="newPasswordHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="newPasswordHide = !newPasswordHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasswordHide">
          <mat-icon>{{newPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="newPassword.invalid">{{ getValidationMessage(newPassword)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Подтверждение пароля</mat-label>
        <input matInput formControlName="repeatPassword" required
               [type]="repeatPasswordHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="repeatPasswordHide = !repeatPasswordHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="repeatPasswordHide">
          <mat-icon>{{repeatPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="repeatPassword.invalid">{{ getValidationMessage(repeatPassword)}}</mat-error>
      </mat-form-field>
      <span class="error-message">
        <mat-error *ngIf="newPassword?.value && repeatPassword?.value && newPassword?.value !== repeatPassword?.value">
          Подтверждение пароля не совпадает
        </mat-error>
      </span>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="flex-end center">
    <button mat-button type="button" color="primary" mat-dialog-close>Отмена</button>
    <button mat-raised-button type="submit" color="primary" (click)="checkFormAndChangePassword()">Сохранить</button>
  </mat-card-actions>
</mat-card>
